<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head') %>
    
</head>

<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore reprehenderit nostrum nesciunt distinctio ex sit quos laudantium dolores debitis provident nobis accusamus praesentium, consequatur similique rerum repudiandae earum, tempore sapiente.</p>
        </section>
    </main>

    <%- include('partials/footer')%>

</body>

</html>